<!-- views/index.ejs -->
<!doctype html>
<html>
	<head>
		 <title>TutorABC test support</title>
	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" crossorigin="anonymous">

		 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		 <style>
			 .id-password div {
				 display: inline-block;
			 }
		 </style>
	</head>
	
	<body>

		<div id="main"></div>

		<script src="js/bundle.js"></script>
	</body>
	
</html>