<!-- views/index.ejs -->
<!doctype html>
<html>
	<head>
        
      <title>TutorABC test support</title>

      <script src="/lib/jquery-3.1.1.min.js"></script>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/lib/bootstrap.min.css" crossorigin="anonymous">

      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->


      <style>

       .id-password div {
          display: inline-block;
       }

         .table-borderless td, .table-borderless th {
             border: none;
         } 

          .table-container {
             margin-left: 10%;
             max-width: 80%;
          }

          table {
             font-size: 10pt;
             color: #777777;
          }

          .pager a {
              font-size: 10px;
          }

          .jumbotron-trans {
             background-color: #f9f9f9;
          }

          .new-tabs {
              margin-left: 45%;
          }
      </style>
		
	</head>
	
	<body>

		<div id="main"></div>

		<script src="js/bundle.js"></script>
        
	</body>
	
</html>