/*
body { 
	 padding-top:60px; 
 }
*/

.id-password div {
 display: inline-block;
}

.table-borderless td, .table-borderless th {
	 border: none;
} 

 .table-container {
	 margin-left: 10%;
	 max-width: 80%;
 }

 table {
	 font-size: 10pt;
    font-weight: 200;
	 color: #777777;
 }

 .pager a {
	  font-size: 10px;
 }

 .jumbotron-trans {
	 background: none;
 }

 .new-tabs {
	  margin-left: 45%;
 }